* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d1781c; 
}

.container {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 250px;
    background-color: #5d1a01; 
    padding: 20px;
    color: white;
}

.logo {
    color: #d1781c;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.menu {
    list-style: none;
}

.menu li {
    font-size: 18px;
    margin-bottom: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.menu li:hover, .menu li.active {
    opacity: 1;
    text-decoration: underline;
}


.content {
    flex: 1;
    padding: 40px;
}

h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 5px;
}

.subtitle {
    color: #5d1a01;
    font-size: 10px;
    margin-bottom: 20px;
}

.filter-box select {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #eeeeee;
    margin-bottom: 30px;
}


.orders-container {
    background-color: #9c4c11; 
    padding: 30px;
    border-radius: 5px;
}

.order-card {
    background-color: #dddddd;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.order-number {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.blue-text { color: #0099cc; }

.order-date { font-size: 12px; margin: 2px 0; }

.order-service { font-size: 10px; color: #555; }

.order-value {
    text-align: right;
    font-size: 22px;
}

.progress-bar {
    width: 120px;
    height: 12px;
    background-color: #999;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.progress-fill {
    width: 90%;
    height: 100%;
    background-color: #0088cc;
}


.order-placeholder {
    background-color: #cccccc;
    height: 60px;
    border-radius: 4px;
    margin-bottom: 15px;
}
